{% extends "base.html" %}
{% block content %}
{% if plant.image %}
      <img src="{{ url_for('static', filename=plant.image) }}"
           alt="{{ plant.plant_name }}"
           class="plant-img">
    {% else %}
      <img src="{{ url_for('static', filename='plant_images/default.jpg') }}"
           alt="No Image"
           class="plant-img">
    {% endif %}

<h2>{{ plant.plant_name }}</h2>

<p><b>Local Name:</b> {{ plant.local_name }}</p>
<p><b>Diseases Cured:</b> {{ plant.disease }}</p>
<p><b>How to Use:</b></p>
<p>{{ plant.how_to_use }}</p>
<a href="/favorite/{{ plant.id }}">❤️ Save to My Remedies</a>

{% endblock %}
